body {
    background-color: #c2e5d3;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .App {
    text-align: center;
  }
  
  .App-header {
    background-color: #c2e5d3;
    padding: 20px;
  }
  
  .navigation-bar {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
  }
  
  .nav-item {
    position: relative;
  }
  
  .nav-button, .profile-button {
    background: none;
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    color: black;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    padding: 0;
    margin: 0 0;
    background-color: white;
    border: 1px solid black;
    
    border-radius: 5px;
    width: 200px;
  }
  
  .nav-item:hover .dropdown-menu {
    display: block;
  }
  
  .dropdown-menu li {
    padding: 10px;
    cursor: pointer;
    
  }
  
  .dropdown-menu li:hover {
    background-color: lightgray;
  }
  
  .Titulo-bienvenida {
    margin-bottom: 30px;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
  }
  
  .card-noticias {
    background-color: white;
    width: 400px;
    height: 300px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  